<div class="overView">
  <div class="jumbotron">
    <h1>Charts in Angular</h1>
    <p>Angular is the most popular for developing interactive front End websites, here are the some examples charts developed in Angular.</p>
  </div>

  <div class="container">
    <!-- Content here -->
    <div clas="row" *ngFor="let chart of chartIcons">
      <div class="col-md-12 col-sm-12 col-12 title" >
				<h2>{{chart.parentName}}</h2>
      </div>
      <div class="row">
      <div class="col-md-4 col-sm-6 col-6 demo" *ngFor="let innerChart of chart.childName">
					<a routerLink="/{{innerChart.link}}">
							<div class="demo-container">
								<div class="col-md-12 col-sm-12 col-12 image-container">
									<img  src="/assets/{{innerChart.imgSrc}}"/>
								</div>
								<div class="col-md-12 col-sm-12 col-12 footer-container"><h3>{{innerChart.name}}</h3></div>
								<div class="clearfix"></div>
							</div>
					</a>
			</div>
    </div>

    </div>



  </div>

</div>
